<!-- views/layouts/main.hbs -->
<!DOCTYPE html>
<html>
  <head>
    <title>Graphic Engine</title>
    <link rel="stylesheet" href="/css/style.css" />
    
  </head>
  <body>
    {{{body}}}
  </body>
  <script src="/js/script.js"></script>
</html>